{% extends "blog/base.html" %}
{% load blogutils typogrify i18n %}

{% block breadcrumb %}{{ block.super }}
<li>&raquo; <a href="{% url blog_entry_index %}">{% trans "entries" %}</a></li>
<li class="selected">&raquo; {% trans "Blog entries in" %} {{ year }}</li>
{% endblock %}

{% block title %}{% trans "Blog entries in" %} {{ year }}{% endblock %}

{% block bodyclass %}{{ block.super }} sidebared{% endblock %}

{% block content %}
<h2>{% trans "Blog entries in" %} {{ year }}</h2>
<div id="content">
	<div id="entrylist">
		<ul>
			{% for blog in entries %}
			<li class="{% cycle odd,even %}">
				{% bloginfo blog %}
			</li>
			{% endfor %}
		</ul>
	</div>
	
	{% yearswithblogs %}
</div>
	{% include "blog/includes/tagcloud_sidebar.html" %}
{% endblock %}