{% extends "blog/base.html" %}
{% load blogutils typogrify i18n %}

{% block title %}{{ entry.title|smartypants }}{% endblock %}

{% block bodyclass %}{{ block.super }} sidebared{% endblock %}

{% block breadcrumb %}{{ block.super }}
<li>&raquo; <a href="{% url blog_entry_index %}">{% trans "entries" %}</a></li>
<li class="selected">&raquo; {{ entry.title }}</li>
{% endblock %}

{% block content %}
<div id="content">
	<div id="entry">
		<h2>{{ entry.title|smartypants|widont }}</h2>
		
		{% blogmeta entry %}
		
		<p id="standfirst">
			{{ entry.standfirst|widont|smartypants }}
		</p>
		
		{{ entry.content|safe }}
		
		<hr class="clearer"/>
		
		{% blognavigation entry %}
		
		<hr class="clearer"/>
		
		{% include "blog/includes/comments.html" %}
	</div>
</div>
{% include "blog/includes/tagcloud_sidebar.html" %}

{% endblock %}
