{% extends "blog/base.html" %}
{% load blogutils typogrify i18n %}

{% block title %}{% trans "Blog entries witg tag" %} {{ tag }}{% endblock %}

{% block breadcrumb %}{{ block.super }}
<li>&raquo; <a href="{% url blog_entry_index %}">{% trans "entries" %}</a></li>
<li class="selected">&raquo; {% trans "Blog entries witg tag" %} {{ tag }}</li>
{% endblock %}

{% block bodyclass %}{{ block.super }} sidebared{% endblock %}

{% block content %}
<div id="content">
	<div id="entries">
		<ul>
			{% for blog in blogs %}
			<li class="{% cycle odd,even %}">
				{% bloginfo blog %}
			</li>
			{% endfor %}
		</ul>
	</div>
	
	{% yearswithblogs %}
</div>
	
	{% include "blog/includes/tagcloud_sidebar.html" %}
{% endblock %}