{% extends "blog/base.html" %}
{% load blogutils typogrify gravatar i18n %}

{% block title %}{{ entry.title|smartypants }}{% endblock %}

{% block bodyclass %}{{ block.super }} sidebared{% endblock %}

{% block breadcrumb %}{{ block.super }}
<li>&raquo; <a href="{% url blog_entry_index %}">{% trans "entries" %}</a></li>
<li class="selected">&raquo; {{ entry.title }}</li>
{% endblock %}

{% block content %}
<div id="content">
	<div id="entry" class="relative">
		<h2>{{ entry.title|smartypants|widont }}</h2>
		
		<div class="bloginfo">
			{% blogmeta entry %}
		</div>
		
		<img src="{% gravatar_for_user entry.author 70 %}" alt="avatar img" class="avatar" />
		
		<p class="standfirst">
			{{ entry.standfirst|widont|smartypants }}
		</p>
		
		{{ entry.content|safe }}
	</div>
	<hr class="clearer"/>
		
	{% blognavigation entry %}
		
	<hr class="clearer"/>
		
	{% include "blog/includes/comments.html" %}
</div>
{% include "blog/includes/tagcloud_sidebar.html" %}

{% endblock %}
